body {
  background-color: lightblue;
}
h1 {
  text-align: center;
  font-size: 35px
}
h2, h3 {
  text-align: center;
  color:darkblue;font-size:25px;
}
p {
  text-align: center;
}
.center {
  text-align: center;
  font-size: 15px;
}
img {
    display: block;
    margin: auto;
    width: 40%;
}
